.table-container {
    overflow-x: scroll;
    scrollbar-width: thin;
    --webkit-scrollbar: 5px;
    --webkit-scrollbar-track: #192F48;
    scrollbar-color: #192F48 #fff;
    max-width: 90vw;
    margin-left: 10px;
    height: 400px;
}

.table-head-data {
    min-width: 182px;
    text-align: left;
}

.table-head-row {
    overflow-x: scroll;
}

.table-section {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: scroll;
    padding: 20px;
}

.table-container table thead tr th {
    color: #707070;
    text-align: left;
    padding: 10px;
    font: normal normal bold 18px/22px Lato;
    border-bottom: 1px solid #e0e0e0;
}

.table-container table tbody tr td {
    color: #1D1A1A;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    font: normal normal normal 18px/22px Lato;
}